

    <div class="col-xs-14 col-sm-8 col-md-8">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
          </div>
          <div class="col-sm-6 col-md-8">
            <div class="col-sm-6 col-md-8">
              <h4><%= @house.location %></h4>
            </div>
            <div style="text-align: right" class="col-sm-4 col-md-4">
              <p><%= @ago %></p>
            </div>

            <p>
              <label>
                <cite><%= @house.sq_footage %> sqft<i class="glyphicon glyphicon-map-marker"></i></cite>
              </label>
            </p>

            <div class="col-md-12 col-sm-12">
              <div class="col-md-8 col-sm-8" style="margin-left: -30px">
                <p>
                  <% if @floors %>
                    <%= @floors %><br/>
                  <% end %>
                </p>
                <p>
                  <% if @basements %>
                    <%= @basements %><br/>
                  <% end %>
                </p>
                <div class="price mediafix">

                  <h4>Sale Price</h4>
                  <h3><span class="symbol">$ </span><%= @list_price %></h3>
                </div>
              </div>

              <% if @showInterestSection %>
              <div class="col-md-4 col-sm-4">
                <% if !@interestText.nil? %><span class="badge badge-danger"><%= @interestText %></span><% end %>
                <% if !@inquiriesText.nil? %><span class="badge badge-danger"><%= @inquiriesText %></span><% end %>
              </div>
            </div>
            <% end %>
            <% if @contactExists %>
            <div class="col-sm-4 col-md-6 navbar-dark navbar-expand-lg img-rounded" style="background-color:#bce8f1">
              <br/>
              <% if(@companyName) %>
                <h5><a class="nav-link" href="<%= @companyHref %>"><%= @companyName %></a></h5>
              <% end %>
              <p>
                <% if(@realtorName) %>
                  <a href="<%= @realtorHref %>"><%= @realtorName %></a><br/>
                <% end %>
                Preferred Contact Method: Phone
              </p>
            </div>
            <% end %>
            <% if @is_my_old_house && @companyName %>
              <div class="col-md-12" style="text-align: center">
                <p></p>
                <p style="color:red">* You posted this house but no longer work for <%= @companyName %>. *</p>
              </div>
            <% end %>
            <div class="col-sm-4 col-md-6">
              <% @ctas.each do |cta| %>
                <p class="col-sm-12 col-md-12">
                  <a data-done=false id="<%= cta[:id] %>" data-hid="<%= @house.id %>" href="<%= cta[:action] %>" class="btn btn-primary col-sm-12 col-md-12"><%= cta[:text] %></a>
                </p>
                <% if(cta[:successErrorMessaging]) %>
                  <span class="col-sm-12 col-md-12 failCta" style="color: red; display:none"><%= cta[:failure] %></span>
                  <span class="col-sm-12 col-md-12 successCta" style="color: green; display:none"><%= cta[:success] %></span>
                <% end %>
              <% end %>

            </div>
              <div id="inq_form" class="col-md-12 <%= @hide_class_inq_form %>">
                <% if !@current_user.nil? && @current_user.role!=2 %>
                <p></p>
                <div class="form-group">
                  <label>Subject</label><br />
                  <input type="text" name="Subject" class="form-control input-sm" placeholder="Subject">
                </div>
                <div class="form-group">
                  <label>Message</label><br />
                  <textarea name="Text" class="form-control input-sm" placeholder="Write your inquiry here"></textarea>
                </div>
                <p class="col-sm-6 col-md-10">
                  <button data-hid="<%= @house.id %>" class="create_inq btn btn-primary col-sm-5 col-md-5">Submit</button>
                </p>
                <%end %>
              </div>
              <div id="inq_msg" class="col-md-12 hide">
                <p></p>
                <span color="successCta" style="color: green;">We have received your message! Thanks!</span>
              </div>
            </div>
        </div>
      </div>
    </div>



