<%= form_for(@interest) do |form| %>
  <% if @interest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interest.errors.count, "error") %> prohibited this interest from being saved:</h2>

      <ul>
      <% @interest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label  :house_id %>
    <%= form.number_field :house_id %>
  </div>
  <div class ="actions">
    <%= form.submit %>
  </div>
<% end %>
