<!DOCTYPE html>
<html>
  <head>
    <title>Ideal Home Finder App!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'load' %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'load' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
